{% extends 'html_base.html' %}

{# header or includes - can not be overwriten at the same time #}
{#{% block header %}#}
{#   Meta info inludes and other... #}
{#{% endblock %}#}

{#{% block styles_include %}#}
{#    Style includes in header... #}
{#{% endblock %}#}

{#{% block code_include %}#}
{#    JS includes in header... #}
{#{% endblock %}#}

{% block body %}
    <div class="box">
        <form id="form_box">

            <label for="username"></label>
            <input autocomplete="off" class="prompt"
                   id="username" name="login"
                   placeholder="Username"
                   type="text"/>
            <label for="password"></label>
            <input autocomplete="off" class="prompt"
                   id="password" name="pasw"
                   placeholder="Password"
                   type="password"/>

            <button class="button" id="log_in">Log In</button>
        </form>
        <button class="button" id="sign_up">Sign Up</button>
    </div>
    <script>
        function login_handle(event) {
            event.preventDefault();
            const login_val = document.getElementById("username").value;
            const paswd_val = document.getElementById("password").value;

            if (login_val.length === 0 || paswd_val.length === 0) {
                alert("Login and Password should not be empty!");
                return false;
            }

            let request = new XMLHttpRequest()
            request.open('GET', `/api/auth?login=${login_val}&paswd=${paswd_val}`, true)
            request.onload = function () {
                let data = JSON.parse(this.response)
                console.log(data);
                if (request.status >= 200 && request.status < 400 && data.length !== 0) {
                    // SET AUTH COOKIE //
                    let tmp_cookie = getCookie();
                    tmp_cookie.id = data[0][0];
                    setCookie(tmp_cookie);
                    /////////////////////
                    if (data[0][1]) {
                        window.location.replace(`/author?id=${data[0][0]}`);
                    } else {
                        window.location.replace(`/user?id=${data[0][0]}`);
                    }
                    return true;
                }
                alert("INVALID CREDENTIALS!");
                return false;
            }
            request.send()
        }

        document.getElementById('form_box').addEventListener('submit', login_handle);
        document.getElementById('sign_up').onclick = () => {
            window.location.replace("/register");
        };

    </script>

{% endblock %}
