html{height: 100%;}

body
{ font-family: "lucida sans", arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .78em;
  background: white;
  color: rgb(255, 255, 255);}

p
{ color: #181616;
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  margin: 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.7em;}

h1, h2, h3, h4, h5, h6
{ font: normal 179% 'century gothic', arial, sans-serif;
  color: rgb(8, 8, 8);
  margin: 0 0 0px 0;
  padding: 4px 0 0px 0;}

h2
{ font: normal 170% 'century gothic', arial, sans-serif;
  color: rgb(17, 14, 9);}

h3
{ font: normal 125% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;

  font: normal 120% arial, sans-serif;
  color: rgb(8, 8, 8);}

h5, h6
{ font:  95% arial, sans-serif;
  color: rgb(10, 10, 10);}

h6
{ color: #362C20;}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
}

label {
  color: black;
}

#main
{ padding-bottom: 40px;
}

.start_button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    box-shadow:inset 0 -2px 0 0 white;
    background-color:rgb(230, 205, 178);
    font-weight:bold;
    align-items: center;
}
.startButton:hover {
	background:linear-gradient(to bottom, #dfd4c4 5%, #ffffff 100%);
	background-color:#ddd5cc;
}

.startButton:active {
	position:relative;
	top:1px;
}

#main_head{
   margin: 0 0 24px;
   text-align: center;
   text-transform: uppercase;
   background-color: rgb(230, 205, 178);
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 200;
  line-height: 58px;
  color: rgb(255, 254, 254);
}

#site_content
{ width: 858px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 50px 50px 100px 40%;
  background: rgb(255, 254, 254) repeat-y;
  border: 15px solid #FFF;}

.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
    color: black;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-left: 300px;

}
.form-style-2 label > span{
	width: 100px;
  float: left;
  color: rgb(56, 55, 55);
  font-family:  Georgia, serif;
	padding-top: 8px;
	padding-right: 5px;
    margin-left: 300px;
    margin-right: 1000px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;
}
.form-style-2 input.input-field,
.form-style-2 .textarea-field,
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid rgb(197, 196, 196);
	box-shadow: 1px 1px 4px rgb(233, 233, 233);
	-moz-box-shadow: 1px 1px 4px rgb(235, 235, 235);
	-webkit-box-shadow: 1px 1px 4px rgb(235, 235, 235);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
    margin-left: 300px;
    margin-right: 1000px;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus{
	border: 1px solid rgb(207, 194, 166);
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: rgb(229, 212, 192);
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: rgb(185, 168, 149);
	color: #fff;
}

.login_button {
    /*padding: 10px 10px 10px 10px;*/
    margin-left: 500px;
    margin-right: 1000px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    box-shadow:inset 0 -2px 0 0 white;
    background-color:rgb(230, 205, 178);
    font-weight:bold;
    align-items: center;
}

table {
    border-collapse: collapse;
    color: black;
}

table, tr, td {
    border: 1px solid black;
}

.nav_bar
{ 
    width: 100%;
    height: 46px;
    font-family: 'Lato', sans-serif;
}

.nav_bar a 
{ 
    letter-spacing: 0.1em;
    font-family: sans-serif;
    font-size: 120%;
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    padding: 9px 15px 5px 15px;
    text-align: center;
    border: none;
    color: black;
}
