{% extends 'html_base.html' %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div id="main">
         <h1 id='main_head'>The Best Message Store Ever :)</h1>
        <div id="site_content">
        <form method="get" action='/register' class="box" id="left">
            <button class="start_button" id="sign_up">Sign Up</button>
        </form>

        <form method="post" action='/login' class="box" id="right">
            <button class="start_button" id="log_in">Log in</button>
        </form>
        </div>
    </div>
{% endblock %}

