{% extends 'user_side/user_header_template.html' %}

{# header or includes - can not be overwriten at the same time #}
{#{% block header %}#}
{#   Meta info inludes and other... #}
    {% include 'user_side/user_header_template.html' %}
{#{% endblock %}#}
{##}
{#{% block styles_include %}#}
{#    Style includes in header... #}
{#{% endblock %}#}
{##}
{#{% block code_include %}#}
{#    JS includes in header... #}
{#{% endblock %}#}

{% block body %}
    {% block content %}
        {#        Your main content here... #}
        <div class="box">
        <form id="form_box">

            <label for="login"></label>
            <input autocomplete="off" class="prompt"
                   id="login" name="login"
                   placeholder="Login"
                   type="text"/>
            <label for="password"></label>
            <input autocomplete="off" class="prompt"
                   id="password" name="pasw"
                   placeholder="Password"
                   type="password"/>
            <label for="social network id"></label>
            <input autocomplete="off" class="prompt"
                   id="sn_id" name="social network id"
                   placeholder="social network id"
                   type="social network id"/>

            <button class="button" id="add">Add</button>
        </form>
    </div>
        <script>
        function add_account_handle(event) {
            event.preventDefault();
            const login_val = document.getElementById("login").value;
            const paswd_val = document.getElementById("password").value;
            const social_network_id = document.getElementById("sn_id").value;

            if (login_val.length === 0 || paswd_val.length === 0|| social_network_id.length === 0) {
                alert("Login and Password should not be empty!");
                return false;
            }

            let tmp_cookie = getCookie();
            let request = new XMLHttpRequest();
            request.open('GET', `/api/add_social_network_account?principal_id=${tmp_cookie.id}2&social_network_id=${social_network_id}2&login=${login_val}1&password=${paswd_val}password`, true)
            request.onload = function () {
                let data = JSON.parse(this.response)
                console.log(data);
                alert("INVALID CREDENTIALS!");
                return false;
            }
            request.send()
        }

        document.getElementById('form_box').addEventListener('submit', add_account_handle);
        document.getElementById('add').onclick = () => {
            window.location.replace("/add_account");
        };

    </script>
    {% endblock %}
{% endblock %}
