{% extends 'user_side/user_header_template.html' %}

{% block content %}
    <h1 id='main_head'>Create Order</h1>
    <form id="form_box">

        <label for="ac_id"></label>
        <input autocomplete="off" id="ac_id" name="account id"
               placeholder="Account id" type="text"/>

        <label for="author_ids"></label>
        <input autocomplete="off" id="author_ids" name="author_ids"
               placeholder="Author ids" type="text"/>

        <label for="date"></label>
        <input autocomplete="off" id="date" name="date"
               placeholder="Due date" type="date"/>

        <label for="style_id"></label>
        <input autocomplete="off" id="style_id" name="style"
               placeholder="Style id" type="text"/>

        <label for="volume"></label>
        <input autocomplete="off" id="volume" name="volume"
               placeholder="Volume" type="number"/>


        <button id="create">Create</button>
    </form>
    <script>
        function create_order_handle(event) {
            event.preventDefault();
            const ac_id = document.getElementById("ac_id").value;
            const author_id = document.getElementById("author_ids").value;
            const date = document.getElementById("date").value;
            const style = document.getElementById("style_id").value;
            const volume = document.getElementById("volume").value;

            if (ac_id.length === 0 || author_id.length === 0 || date.length === 0 || style.length === 0 || volume.length === 0) {
                alert("Order parameters should not be empty!");
                return false;
            }

            let tmp_cookie = getCookie();
            let request = new XMLHttpRequest();
            request.open('GET', `/api/create_order?account_id=${ac_id}&principal_id=${tmp_cookie.id}&author_id=${author_id}&style_id=${style}&volume=${volume}`, true)
            request.onload = function () {
                window.location.replace("/create_order");
                return true;
            }
            request.send()
        }

        document.getElementById('form_box').addEventListener('submit', create_order_handle);
    </script>
{% endblock %}

