{% extends 'html_base.html' %}

{# header or includes - can not be overwriten at the same time #}
{#{% block header %}#}
{#   Meta info inludes and other... #}
{#{% endblock %}#}
{##}
{#{% block styles_include %}#}
{#    Style includes in header... #}
{#{% endblock %}#}
{##}
{#{% block code_include %}#}
{#    JS includes in header... #}
{#{% endblock %}#}

{% block body %}
    {% block nav_bar %}
        {#        TODO: implement user nav bar #}
    {% endblock %}
    {% block content %}
        {#        Your main content here... #}
    {% endblock %}
{% endblock %}
