{% extends 'html_base.html' %}

{# header or includes - can not be overwriten at the same time #}
{#{% block header %}#}
{#   Meta info inludes and other... #}
{#{% endblock %}#}
{##}
{#{% block styles_include %}#}
{#    Style includes in header... #}
{#{% endblock %}#}
{##}
{#{% block code_include %}#}
{#    JS includes in header... #}
{#{% endblock %}#}

{% block body %}
    {% block nav_bar %}
        <div class="nav_bar">
          <a class="active" href="/user_main">Home</a>
          <a href="/create_order">Create order</a>
          <a href="/add_account">Add account</a>
          <a href="/view_catalogue"> Catalogue </a>
          <a href="/view_statistics">Statistics</a>
        </div>
    {% endblock %}
    {% block content %}
        {#        Your main content here... #}
    {% endblock %}
{% endblock %}
