{% extends 'html_base.html' %}

{% block body %}
    {% block nav_bar %}
        <div class="nav_bar">
            <a class="active" href="/author_main">Home</a>
            <a href="/update_price">Update price</a>
            <a href="/start_sale">Start sale</a>
            <a href="/view_catalogue"> Catalogue </a>
            <a href="/view_author_statistics">Statistics</a>
            <a onClick="clearCookie();" href="/">Log out</a>
        </div>
    {% endblock %}
    {% block content %}
        {#        Your main content here... #}
    {% endblock %}
{% endblock %}
