{% extends 'author_side/author_header_template.html' %}

{# header or includes - can not be overwriten at the same time #}
{% block header %}
    {#   Meta info inludes and other... #}
    {% include 'author_side/author_header_template.html' %}
{% endblock %}

{% block styles_include %}
    {#    Style includes in header... #}
{% endblock %}

{% block code_include %}
    {#    JS includes in header... #}
{% endblock %}

{% block body %}
    <div class="header-bar">
    SOME TEXT
    </div>
    <div class="navbar">
        <div class = "category">
        <a href="author_statistics.html"> STATICTIC </a>
        <a href="update_price.html"> UPDATE PRICE </a>
        <a href="start_sale.html"> START SALE </a>
        <a href="author_view_post.html"> POSTS </a>
        </div>
    </div>
    <div class="info">
         <div class="photo">
         <img href="">
         </div>
         <div class="text">
         SOME INFO
         </div>
    </div>
    <div class="lower-info">
    SOME TEXT
    </div>
{% endblock %}
