{% extends 'author_side/author_header_template.html' %}

{# header or includes - can not be overwriten at the same time #}
{% block header %}
    {#   Meta info inludes and other... #}
    {% include 'author_side/author_header_template.html' %}
{% endblock %}

{% block styles_include %}
    {#    Style includes in header... #}
{% endblock %}

{% block code_include %}
    {#    JS includes in header... #}
{% endblock %}

{% block body %}
     <div class="header-bar">
    SOME TEXT
    </div>
    <div class="box">
        <form id="form_box">
            <label for="author"><input autocomplete="off" class="prompt"
                                         id="author" name="author"
                                         placeholder="Author"
                                         type="text"/></label>
            <button class="button" id="stat">GET</button>
        </form>
    </div>
    <div class="lower-info">
    SOME TEXT

{% endblock %}
