{% extends 'author_side/author_header_template.html' %}

{% block content %}
    <div class="box">
        <form id="form_box">

            <label for="date">date</label>
            <input autocomplete="off" id="date" name="date"
                   placeholder="Date" type="date"/>

            <label for="style">style</label>
            <input autocomplete="off" id="style" name="style"
                   placeholder="Style id" type="text"/>

            <button class="button" id="sale">SALE</button>
        </form>
    </div>
{% endblock %}
