{% extends 'author_side/author_header_template.html' %}

{% block content %}
    <div class="header-bar">
        SOME TEXT
    </div>
    <div class="box">
        <form id="form_box">

            <label for="price"></label>
            <input autocomplete="off" class="prompt"
                   id="price" name="price"
                   placeholder="New Price"
                   type="text"/>

            <button class="button" id="change">CHANGE</button>
        </form>
    </div>
    <div class="lower-info">
        SOME TEXT
    </div>
{% endblock %}
