{% extends 'author_side/author_header_template.html' %}

{% block content %}
    <div class="box">
        <form id="form_box">

            <label for="price">price</label>
            <input autocomplete="off" id="price" name="price"
                   placeholder="New Price" type="text"/>

            <button class="button" id="change">CHANGE</button>
        </form>


        <script>
            document.getElementById('form_box').addEventListener('submit', function (e) {
                e.preventDefault();
                let request = new XMLHttpRequest()
                request.open('GET', `/api/set_price_author?author_id=${getCookie().id}&new_price=${document.getElementById("price").value}`, true)
                request.send();
                window.location.replace("/update_price");
            });
        </script>
    </div>
{% endblock %}
